<main>
    <div mat-dialog-content>
        <h1>Teste Target Sistemas</h1>
        
        <h3>Clique na questão desejada</h3>
        
        <button (click)="questao1()" mat-raised-button color="accent">
            Questão 1
        </button>
        
        <button (click)="questao2()" mat-raised-button color="accent">                      
            Questão 2
        </button>
        
        <button (click)="questao3()" mat-raised-button color="accent">
            Questão 3
        </button>
        
        <button (click)="questao4()" mat-raised-button color="accent">
            Questão 4
        </button>
        
        <button (click)="questao5()" mat-raised-button color="accent">
            Questão 5
        </button>
        
    </div>
</main>