<main>
    <div>

        <h1>Questão 3</h1>
        <button (click)="close()" id="close" type="button" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>

    </div>

    <section mat-dialog-content>
        <h3>
            Dado um vetor que guarda o valor de faturamento diário de uma distribuidora, faça um programa, na linguagem que desejar, que calcule e retorne: <br>
• O menor valor de faturamento ocorrido em um dia do mês;<br>
• O maior valor de faturamento ocorrido em um dia do mês;<br>
• Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.<br>
<br>
IMPORTANTE:<br>
a) Usar o json ou xml disponível como fonte dos dados do faturamento mensal;<br>
b) Podem existir dias sem faturamento, como nos finais de semana e feriados. Estes dias devem ser ignorados no cálculo da média;<br>
        </h3>

        <button (click)="botaoResposta()" mat-raised-button color="primary">
            Resposta
        </button>

        <p *ngIf="resposta">{{ mensagem }} <br> {{ mensagem2 }} </p>
    </section>
</main>